@model TiendaVirtualAlejandro.Models.CarritoCompra

@{
    ViewBag.Title = "MiCarrito";
}

<h2>Mi Carrito</h2>

<div>
    <h4>Lista de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <dt>
                @Html.NameFor(i => item.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(i => item.Nombre)
            </dd>
        }
    }
</p>
